azure-cli-core
azure-cli-telemetry
azure-common
azure-core
azure-cosmos
azure-cosmosdb-nspkg
azure-cosmosdb-table
azure-graphrbac
azure-identity
azure-keyvault
azure-keyvault-certificates
azure-keyvault-keys
azure-keyvault-secrets
azure-mgmt-compute
azure-mgmt-containerservice
azure-mgmt-core
azure-mgmt-dns
azure-mgmt-keyvault
azure-mgmt-network
azure-mgmt-privatedns
azure-mgmt-rdbms
azure-mgmt-resource
azure-mgmt-storage
azure-storage-blob
azure-storage-common
azure-storage-file

coloredlogs

pytest
pytest-parallel
